*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.logo svg{
    width: 60%;
}
.logo{
    float: left;
}
.navbar{
    float: right;
    margin-top: 7px;
}
#Header{
    overflow: auto;
    padding: 20px 5rem;
    position: fixed;
    width: 100%;
}
.navbar a{
    color: #fff;
    font-size: 16;
    margin-left: 30px;
}
#Slayt{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 17%;
    width: 100%;
}
#Slayt h3{
    color: #fff;
    font-size: 45px;
    margin: 0 0 32px;
    font-style: italic;
}
#Slayt h1{
    color: #fff;
    font-size: 65px;
    margin: 0 0 64px;
}
#Slayt a{
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
}